/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: aqua;
}

/* COMMON */
/* Typography */

body {
    font-family: sans-serif;
}

/* UTILITY */

/* CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: space-between;
}


/* HEADER */
/* MAIN */
/* FOOTER */