/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    /* background-color: aqua; */
}

/* bordi contenuto */
/* div {
    border: 1px solid black;
} */

/* COMMON */
/* Typography */

body {
    font-family: sans-serif;
}

/* UTILITY */

/* CONTAINER */

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.riga {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-30 {
    width: 30%;
}


/* HEADER */
/* MAIN */
/* FOOTER */