/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: white;
}

/* COMMON */
/* Typography */

body {
    font-family: sans-serif;
}



/* UTILITY */

span {
    display: flex;
    white-space: normal;
}

.no-break {
    white-space: nowrap;
}



/* CONTAINER */

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.riga {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 15px;
}

.col-30 {
    width: 30%;
    display: flex;
    flex-direction: column;
}


/* HEADER */
/* MAIN */

.marca {
font-size: 0.7rem;
}

.prodotto {
font-size: 0.8rem;
font-weight: 800;
}

.prezzo-attuale {
color: red;
font-weight: 900;
font-size: 0.7rem;
}

.prezzo-originale {
text-decoration: line-through;
font-size: 0.7rem;
}

.card {
    position: relative;
}

.h-button {
    background-color: white;
    position: absolute;
    font-size: 1.5rem;
    padding: 2px 6px;
    border: 0px;
}

/* FOOTER */